html,
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: #ffee00;
  font-family: "Star Wars";
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: 1px 2px 3px #b39200;
}

.App-subtitle {
  font-size: 22px;
}

.App-title {
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-content {
  color: #f0e000;
  text-shadow: 1px 2px 3px #b39200;
  padding: 10px;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 3rem;
  font-family: "Star Wars";
  font-size: 32px;
}
